@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.homepage {
  /* color: black; */
  background-image: url("./Images/BG.png");
  /* height: 100%; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  background-attachment: fixed;
  font-family: 'Cabin', sans-serif;
}

.App {
  /* color: black; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  /* height: 100%; */
  padding-top: 200px;
}

.containerMain {
  padding-top: 80px;
  padding-bottom: 20px;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.navbar {
  /* background-color: transparent; */
  font-size: 25px;
  display: flex;
  justify-content: space-between !important;
  /* padding-bottom: 10px; */
  /* opacity: 0.7; */
  /* max-width: 875px; */
  width: 100%;
  background-color: #f3f3f3;
  /* margin-bottom: 10px; */
  padding: 10px !important;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
}

.container-inner {
  /* background-color: white; */
  padding: 20px;
  padding-bottom: 20px;
  /* height: 800px; */
  width: 100%;
  max-width: 800px;
  min-width: 290px;
}

.container-and-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  background-color:  rgba(255,255,255,0.9);
  width: 75px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: self-start;
  margin-top: 20px;
  padding-top: 20px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  /* padding-left: 10px; */
}

.sidebar-bottom-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 75px 0 0;
  border-color: rgba(255,255,255,0.9) transparent transparent transparent;
}

.personal {
  width: 100%;
  height: fit-content;
  padding: 30px 10px;
  background-color: rgba(192,227,231,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-inner {
  display: flex;
  width: 80%;
  height: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.personal-info {
  align-self: center;
}

.subtitle {
  color: #7d7d7d;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px 0px;
}

.shadows {
  /* box-shadow: 0px 5px 5px lightgrey; */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);

}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa {
  font-size: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black !important;
}

.avatar-mini {
  width: 40px;
  border-radius: 50%;
}

.aboutMe {
  /* padding-top: 30px; */
  margin-top: 30px;
}

.font-bold {
  font-weight: 600;
}

.center-text {
  text-align: center;
  display: flex;
  justify-content: center;
}

.padding-top-down {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-sub {
  font-size: 30px;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
}

.inner-content {
  padding: 20px 20px;
}

.boxShadow {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.padding20{
  padding: 20px;
}

.paddingBottom20 {
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
}

.subtitle-heading {
  font-weight: 600;
  margin-top: 20px;
  font-size: 20px;
}

.semi-white-bg {
  background-color: rgba(255,255,255,0.9);
}

@media only screen and (min-width: 300px) {
  
  /* FOR MOBILE DEVICES */
  
  .tabletPlus {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .mobile-center {
    text-align: center;
  }
  .h1,
  h1 {
    font-size: 32px !important;
  }

  .h5,
  h5 {
    font-size: 18px !important;
  }

  .notOnMobile {
    display: none;
  }

  .container-inner {
    padding: 0;
  }

}

@media only screen and (min-width: 768px) {
  
  /* FOR TABLET AND ABOVE */

  .tabletPlus {
    display: flex;
  }

  .mobile-only {
    display: none;
  }

  .mobile-center {
    text-align: left;
  }
  .h1,
  h1 {
    font-size: 40px !important;
  }

  .h5,
  h5 {
    font-size: 20px !important;
  }

  .notOnMobile {
    display: block;
  }

  .container-inner {
    padding: 20px;
  }
}
