.homepage {
  color: black;
  background-image: url("./Images/BG.png");
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.App {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding-top: 200px;
}

.containerMain {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.navbar {
  /* background-color: transparent; */
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  /* opacity: 0.7; */
  /* max-width: 875px; */
  width: 100%;
  background-color: white;
  /* margin-bottom: 10px; */
  padding: 20px;
}

.container-inner {
  background-color: white;
  padding: 20px;
  height: 800px;
  width: 100%;
  max-width: 800px;
  min-width: 290px;
}

.container-and-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  background-color: white;
  width: 75px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding-top: 20px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  /* padding-left: 10px; */
}

.sidebar-bottom-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 75px 0 0;
  border-color: #ffffff transparent transparent transparent;
}

.personal {
  width: 100%;
  height: fit-content;
  padding: 30px 10px;
  background-color: #c0e3e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-inner {
  display: flex;
  width: 80%;
  height: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.personal-info {
  align-self: center;
}

.subtitle {
  color: #7d7d7d;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  margin: 15px 0px;
}

.shadows {
  box-shadow: 0px 5px 5px lightgrey;
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.fa {
  font-size: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black !important;
}

.avatar-mini {
  width: 50px;
  border-radius: 50%;
}

.aboutMe {
  padding-top: 30px;
}

.font-bold {
  font-weight: 500;
}

.center-text {
  text-align: center;
  display: flex;
  justify-content: center;
}

.padding-top-down {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-sub {
  font-size: 30px;
}

@media only screen and (min-width: 300px) {
  
  /* FOR MOBILE DEVICES */
  
  .tabletPlus {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .mobile-center {
    text-align: center;
  }
  .h1,
  h1 {
    font-size: 35px !important;
  }

  .h5,
  h5 {
    font-size: 20px !important;
  }

  .notOnMobile {
    display: none;
  }

}

@media only screen and (min-width: 768px) {
  
  /* FOR TABLET AND ABOVE */

  .tabletPlus {
    display: flex;
  }

  .mobile-only {
    display: none;
  }

  .mobile-center {
    text-align: left;
  }
  .h1,
  h1 {
    font-size: 40px !important;
  }

  .h5,
  h5 {
    font-size: 20px !important;
  }

  .notOnMobile {
    display: block;
  }
}
