@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html {
  scroll-behavior: smooth;
}

.homepage {
  background-image: url("./Images/BG_new.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  font-family: 'Cabin', sans-serif;
}

.App {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 200px;
}

.containerMain {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  padding: 0.5rem 0.7rem !important;
}

.navbar {
  font-size: 25px;
  position: fixed !important;
  top: 0 !important;
  display: flex;
  z-index: 2000;
  justify-content: center !important;
  width: 100%;
  /* max-width: 840px; */
  background-color: #f3f3f3;
  padding: 0 !important;
  box-shadow: 0px 0px 5px rgba(0,0,5,0.5);
}

.navbar-brand {
  display: flex !important;
  align-items: center;
  height: 48px;
  padding-left: 5px;
}

.container-inner {
  padding: 20px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 880px;
  min-width: 290px;
}

.container-and-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  background-color:  rgba(255,255,255,0.9);
  width: 75px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: self-start;
  margin-top: 20px;
  padding-top: 20px;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-bottom-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 75px 0 0;
  border-color: rgba(255,255,255,0.9) transparent transparent transparent;
}

.personal {
  width: 100%;
  height: fit-content;
  padding: 30px 10px;
  /* background-color: rgba(192,227,231,0.9);
   */
   background-image: url("./Images/InstaBG3.png");
   /* background-attachment: fixed; */
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-inner {
  display: flex;
  width: 80%;
  height: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.personal-info {
  align-self: center;
}

.subtitle {
  color: #7d7d7d;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px 0px;
}

.shadows {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa {
  font-size: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black !important;
}

.avatar-mini {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.aboutMe {
  margin-top: 30px;
}

.font-bold {
  font-weight: 600;
}

.center-text {
  text-align: center;
  display: flex;
  justify-content: center;
}

.padding-top-down {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-sub {
  font-size: 30px;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
}

.inner-content {
  padding: 20px 20px;
}

.boxShadow {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.padding20{
  padding: 20px;
}

.paddingBottom20 {
  margin-bottom: 20px;
}

.subtitle-heading {
  font-weight: 600;
  margin-top: 20px;
  font-size: 20px;
}

.semi-white-bg {
  background-color: rgba(255,255,255,0.9);
}

.nav-links {
  font-size: 18px;
  background: transparent;
  background-color: transparent !important;
  /* color: #aaaaaa !important; */
  padding: 8px 20px 8px 20px !important;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0) !important;
}

#content, #education, #experience, #other, #contactMe, #skills {
  padding-top: 20px;
}

.nav-link.active {
  color: black !important;
}

.navbar-expand-sm {
  height: 45px !important;
}

button.navbar-toggler {
  display: flex;
  justify-content: flex-end;
}

.toggler-custom {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: transparent;
}

div#responsive-navbar-nav,.justify-content-end.navbar-nav {
  background: transparent;
}

.navbar-inner-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
  /* box-shadow: 0px 0px 5px rgba(0,0,0,0.5); */
}

:focus {
  outline: none !important;
}

.personalContact {
  text-align: left !important;
}

@media only screen and (min-width: 300px) {
  
  /* FOR MOBILE DEVICES */
  
  .tabletPlus {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
  .mobile-center {
    text-align: center !important;
  }
  .h1,
  h1 {
    font-size: 32px !important;
  }
  .h5,
  h5 {
    font-size: 18px !important;
  }
  .notOnMobile {
    display: none !important;
  }
  .container-inner {
    padding: 0 !important;
  }
  nav.navbar.navbar-expand-sm.navbar-light.fixed-top {
    width: 100%;
    padding: 0 !important;
  }
  .topNoMobile{
    padding-left: 0.7rem;
  }
}

@media only screen and (min-width: 800px) {
  
  /* FOR TABLET AND ABOVE */

  .tabletPlus {
    display: flex !important;
  }

  .mobile-only {
    display: none !important;
  }

  .mobile-center {
    text-align: left !important;
  }
  .h1,
  h1 {
    font-size: 40px !important;
  }

  .h5,
  h5 {
    font-size: 20px !important;
  }

  .notOnMobile {
    display: block !important;
  }

  .container-inner {
    padding: 20px !important;
  }
  .topNoMobile{
    padding-left: 0;
  }
}
