.verticalLine {
    padding-top: 20px;
    height: inherit;
    width: 5px;
    border-left: 3px solid #C0E3E7;
}

.Education-Container {
    padding-top: 30px;
    width: 100%;
}

.row {
    flex-wrap: nowrap !important;
    /* padding-top: 20px; */
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.leftSide {
    /* flex-wrap: wrap; */
    width: 40%;
    text-align: right;
}

.rightSide {
    /* flex-wrap: wrap; */
    width: 40%;
    text-align: left;
}

.blankRow{
    height: 30px;
}