.internshipContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 40%;
}

.topContainer {
  display: flex;
  flex-direction: row;
}

.textContainerTop {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainerBottom {
  margin-top: 20px;
}

.CompanyName {
  font-weight: 600;
  font-size: 18px;
}

.CompanyNameBottom {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
}

.aboutCompany {
  /* text-align: right; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}

.companyDescription {
  font-size: 16px;
}

.workLink {
  /* margin-top: 10px; */
  text-decoration-style: none !important;
  /* text-decoration-color: darkblue !important; */
  color: #ffffff !important;
  display: flex;
  flex-direction: column;
}

.inline {
  display: flex;
  flex-direction: row;
}

a#otherWork-tab-Photography,
a#otherWork-tab-KLWP, a#otherWork-tab-Instagram {
  width: 33.3%;
}

/* nav.nav.nav-tabs {
  padding: 20px 20px 0 20px;
} */

.nav-link {
  background-color: #f4f4f4;
}

.carousel-caption {
  left: unset !important;
  right: 5px !important;
  bottom: 0px !important;
  padding-bottom: 5px !important;
}

.fade.modal-backdrop.show {
  z-index: 2050;
}

.modal {
  z-index: 2100 !important;
}

.modal-content {
  align-items: center;
  background-color: unset !important;
  box-shadow: none !important;
  border: none !important;
  flex-direction: row !important;
  justify-content: center;
}

.modal-dialog {
  margin: auto !important;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right,
.fa-times-circle {
  color: white;
  font-size: 30px;
  margin: 1rem;
  padding: 2px 3px 2px 3px;
  z-index: 2050;
  position: fixed;
  background-color: black;
  border-radius: 50%;
  opacity: 0.3;
}

.fa-chevron-circle-left:hover,
.fa-chevron-circle-right:hover,
.fa-times-circle:hover {
  opacity: 1;
}

.fa-times-circle {
  right: 0;
  top: 0;
}

.fa-chevron-circle-left {
  left: 0;
}

.fa-chevron-circle-right {
  right: 0;
}

.modal-backdrop.show {
  opacity: 0.9 !important;
}

.nav-link.active {
  background-color: #FFF5D5 !important;
  color: black !important;
  font-weight: bold;
}

#otherWork-tabpane-KLWP .carousel-container {
  display: block;
  flex-direction: column;
}


.modal-backdrop.show {
  opacity: 0.97 !important;
}


@media only screen and (min-width: 300px) {
  /* Mobile Devices */

  .noWrapOnMobile {
    display: flex;
    flex-wrap: nowrap;
  }

  .aboutCompany {
    max-width: 100%;
    /* text-align: center;  */
  }

  .CompanyNameBottom {
    justify-content: center;
  }
}

@media only screen and (min-width: 750px) {
  /* Mobile Devices */

  .noWrapOnMobile {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutCompany {
    max-width: 60%;
    /* text-align: center;  */
  }

  .CompanyNameBottom {
    justify-content: flex-start;
  }
}
