.InstaBlockMain{
    height: auto;
    /* align-self: center; */
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #00000045;

    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.backgroundImage {
    background-image: url("../Images/Abstract1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.backgroundColor {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #00000043;
}

.settings {
    background-color: white;
    height: 80px;
    width: 100%;
    display : flex;
    justify-content: flex-end;
    padding: 35px;
}

.carouselContainer2 {
    display: flex;
    justify-content: center;
}

.carouselInner2 {
    width: 95%;
    height: 95%;
}

.fa-th , .fa-th-large , .fa-square {
    padding : 0 10px;
}

.top {
    height: 50px;
    border-radius: 20px 20px 0 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.image{
    display: flex;
    justify-content: center;
    height: min-content;
}

.bottom {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.red {
    color: red;
}

.white {
    color: black;
}

.fa-heart {
    color: red;
    padding: 5px;
}

.fa-comment {
    color: black;
    padding: 5px;
}

.middleGap {
    width: 50px;
}

.instaAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.paddingLeft {
    padding-left: 15px;
}

.instaDetails {
    background-color: #ffffff;
}

.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.caption {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
}

.carousel-indicators {
    /* bottom: 0 !important; */
    top: 100% !important;
}

.carousel-indicators li {
    background-color: black !important;
    border-radius: 50% !important;
    width: 7px !important;
    height: 7px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}